.presentation {
  position:absolute;
  z-index:1200;
}

.wrapper-modal {
  position:fixed;inset:0;background-color:rgb(0 0 0 / 71%);
  display:flex;justify-content: center;;
}

.modal {
  position:relative;max-width: 800px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14),
    0px 3px 14px 0px rgba(0, 0, 0, 0.12);
  background:#111;
  overflow-y: scroll;
  border-radius:8px;
  transition: all 400ms ease-in-out 2s;
  animation: fadeIn 400ms;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.modal::-webkit-scrollbar {display:none;}

.modal-close {position:absolute;top:20px;right:20px;font-size:2rem;cursor:pointer;z-index:1000;color:#fff;}

.modal__poster-img {
  width:100%;height:auto;
}

.modal__content {padding: 40px;color:#fff;}
.modal__details {font-weight:600;font-size:1.8rem;}
.modal__title {padding:0;font-size:4rem;margin:16px 0;}
.modal__overview {font-size:2.8rem;line-height:1.5;}


@media screen and (max-height: 768px) {
  .wrapper-modal {padding:0;}
  .modal {overflow-y: scroll !important;}
  .modal__details {font-size:1.6rem;}
  .modal__overview {font-size:1.6rem;}
}